<p>
  <%= _("Hi") %>
</p>

<p>
  <%= _("We have received a request to reset your password.") %>
</p>

<p>
  <%= _("Please enter the following code in the application:") %>
</p>

<p>
  <h3><%= @user.reset_password_token %></h3>
</p>