<div class="container capituloFinal" id="capituloFinal">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <p><em><%= t('home.body.book.chapter_final.paragraph_1') %></em></p>
      <p><em><%= t('home.body.book.chapter_final.paragraph_2') %></em></p>
      <br><br>
      <h1><%= t('home.body.book.chapter_final.the_end') %></h1>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>