<div class="container prologo" id="prologo">
  <div class="row">
    <div class="col-xs-12 col-md-2"></div>
    <div class="col-xs-12 col-md-8 parrafo">
      <br>
      <h1><%= t('home.body.book.intro.title_1') %></h1>
      <p><%= t('home.body.book.intro.paragraph_1') %></p>
      <h1><%= t('home.body.book.intro.subtitle_1') %></h1>
      <h1><%= t('home.body.book.intro.subtitle_2') %></h1>
    </div>
    <div class="col-xs-12 col-md-2"></div>
  </div>
</div>
<div id="link-capitulo-1"></div>