<div class="container">

  <div class="row">

    <div class="col-sm-12">

      <ul class="social-text-links font-alt text-center m-b-20">
        <li><a href="#"><%= t('home.footer.facebook') %></a></li>
        <li><a href="#"><%= t('home.footer.instagram') %></a></li>
      </ul>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">

      <p class="copyright text-center m-b-0">© <%= t('home.footer.year')%> <%= t('home.footer.app_name') %></a></p>

    </div>

  </div>

</div>