<div class="container">

  <div class="row">

    <div class="col-sm-12">

      <ul class="social-text-links font-alt text-center m-b-20">
        <li><%= link_to 'Facebook', 'https://www.facebook.com/El-Principito-1731713937082081/?ref=aymt_homepage_panel', target: '_blank' %></li>
        <li><%= link_to 'Instagram', 'https://www.instagram.com/el_principito_libro/', target: '_blank' %></li>
      </ul>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">

      <p class="copyright text-center m-b-0">© <%= t('home.footer.year')%> <%= t('home.footer.app_name') %></a></p>

    </div>

  </div>

</div>